.searchPage {
    width: 98%;
    padding: 10px 1%;
    background-color: #f0f0f0;

    .searchPage__filter_wrapper {
        display: flex;
        align-items: center;
    }

    & > hr {
        height: 1px;
        padding: 0px;
        border: 0px;
        margin: 5px 0px 20px 0px;
        background-color: darkgray;
        box-shadow: 0px 1px 1px lightgray;
    }
}